h2 {
  text-align: center;
  background-color: #eb6c6c;
  color: aliceblue;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0.4rem;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
h1 {
  text-align: center;
  width: 100%;
}
button {
  border:2px solid #eb6c6c;
  cursor: pointer;
}
body {
  font-family: "Arial Narrow Bold", sans-serif;
  padding: 0;
  margin: 0;
}
iframe {
  min-width: 80vw;
  min-height: 40vh;
  margin: 1rem 10%;
}
